{% extends 'BloggerBlogBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="jumbotron">
      {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}